<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947946948004-d5iubi1dinupqt2qaui381j2mu9r5dpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947946948004-d5iubi1dinupqt2qaui381j2mu9r5dpg</string>
	<key>API_KEY</key>
	<string>AIzaSyDhrqw_4_yxnKltt-VtUWq5vcoNax9-Qfs</string>
	<key>GCM_SENDER_ID</key>
	<string>947946948004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimhwan.Poetree</string>
	<key>PROJECT_ID</key>
	<string>poetree-e472e</string>
	<key>STORAGE_BUCKET</key>
	<string>poetree-e472e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947946948004:ios:76faa54f5f2a6a4bdd6d31</string>
</dict>
</plist>